@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgb(239, 221, 198);
}
main {
    padding: 20px;
}
.container {
    margin: auto;
    margin: 8px;
    padding: 16px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(243, 243, 243);
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.35);
}
fieldset {
    position: relative;
    padding: 16px;
    border-radius: 4px;
    border-color: gray;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.405);
    background-color: rgb(234, 234, 234);
}
form div {
    padding: 16px;
    font-size: 1.08em;
}
input#Iname {
    padding: 16px;
    width: 60%;
}
Select#Iturma {
    padding: 8px;
    width: 40%;
}
input#registrarInput {
    position: absolute;
    width: 130px;
    height: 42px;
    background-color: rgb(203, 203, 203);
    padding: 8px;
    font-size: 1.04em;
    border: 3px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    left: 70%;
    top: 87%;
}
input#registrarInput:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    box-sizing: border-box;
    width: 136.5px;
    height: 44.1px;
    transform: translate(-3.25px, -1.05px);
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.45);
}
table, th, td {
    margin: auto;
    border-collapse: collapse;
    border: 2px solid black;
    padding: 8px;
}
table{
    width: 90%;
    margin: 16px;
    background-color: white;
}
 tbody tr:nth-child(2n -1) {
    background-color: rgb(234, 234, 234);
}